@page "/numeron"

@using Numer0n.Common;

<h3>Numer0n</h3>

<p>@number</p><Button @onclick="GetData">ボタン</Button>

<Addons>
    <Addon AddonType="AddonType.Body">
        <TextEdit Placeholder="何か入力" @bind-Text="input"/>
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Secondary" @onclick="SetList">Button</Button>
    </Addon>
</Addons>
<br />

<Table Bordered="true" Hoverable="true">
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>回</TableHeaderCell>
            <TableHeaderCell>入力値</TableHeaderCell>
            <TableHeaderCell>場所も数字も当たり</TableHeaderCell>
            <TableHeaderCell>数字が当たり</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var d in inputList)
        {
            <TableRow>
                <TableRowHeader>@d.Number</TableRowHeader>
                <TableRowCell>@d.Data</TableRowCell>
                <TableRowCell>0</TableRowCell>
                <TableRowCell>0</TableRowCell>
            </TableRow>

        }
    </TableBody>
</Table>

@code {
    private string input = "";
    protected class InputData
    {
        public InputData(int number, string data)
        {
            Number = number;
            Data = data;
        }
        public int Number { get; set; }
        public string Data { get; set; }
    }

    private List<InputData> inputList = new List<InputData>();

    protected void SetList()
    {
        var id = new InputData(
            inputList.Count + 1,
            input);

        inputList.Add(id);
    }

    protected List<InputData> ShowList()
    {
        return inputList;
    }


    string number = string.Empty;
    
    protected void GetData()
    {
        number = Numer0n.GenerateRandomData();
    }
}
