@page "/numeron"

@using Numer0n.Common;

<h3>Numer0n</h3>

@if (@number == string.Empty)
{
    <p>no data</p> 
}
else
{
    <p>@number</p>
}


<Button Color="Color.Danger" @onclick="GetData">ボタン</Button>

<Addons>
    <Addon AddonType="AddonType.Body">
        <TextEdit Placeholder="何か入力" @bind-Text="input"/>
    </Addon>
    <Addon AddonType="AddonType.End">
        <Button Color="Color.Secondary" @onclick="SetList">Button</Button>
    </Addon>
</Addons>
<br />

<Table Bordered="true" Hoverable="true">
    <TableHeader ThemeContrast="ThemeContrast.Dark">
        <TableRow>
            <TableHeaderCell>回</TableHeaderCell>
            <TableHeaderCell>入力値</TableHeaderCell>
            <TableHeaderCell>場所も数字も当たり</TableHeaderCell>
            <TableHeaderCell>数字が当たり</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        @foreach (var d in inputList)
        {
            <TableRow>
                <TableRowHeader>@d.Count</TableRowHeader>
                <TableRowCell>@d.InputNumber</TableRowCell>
                <TableRowCell>0</TableRowCell>
                <TableRowCell>0</TableRowCell>
            </TableRow>

        }
    </TableBody>
</Table>

@code {
    private string input = "";

    private List<InputNumberHistoryModel> inputList = new List<InputNumberHistoryModel>();

    protected void SetList()
    {
        var id = new InputNumberHistoryModel(
            input,
            0,
            0);

        inputList.Add(id);
    }

    protected List<InputNumberHistoryModel> ShowList()
    {
        return inputList;
    }

    string number = string.Empty;
    
    protected void GetData()
    {
        
        inputList.Clear();
        number = Numer0n.GenerateRandomData();
    }
}
